/*darken level 2 headlines*/
.toctree-l3 a {
    /*font-weight: bold!important;*/
    color: #404040!important;
}

/*indent level 3  headlines*/
a.toctree-l4 {
    padding-left:3.2em!important;
}

.wy-nav-content {
    max-width: none !important;
}

.wy-side-nav-search {
	background: #222c32;
}

.wy-nav-side {
	background: #222c32;
}

.rst-versions .rst-current-version {
	background: #222c32;
}

.rst-versions{
	border-top:solid 10px #222c32;
}