/* override navigation menu caption and link text colors */

.wy-menu-vertical .caption-text {
    color : #7e7e7e;
}
.wy-menu-vertical a {
     color : #f0f0f0;
}


/* override caption margins */

.wy-menu-vertical p.caption
{
     margin-top: 20px;
     margin-bottom: 5px;

/*  margin-left: 10px; */

}


 /* changed side navigation bg color */

.wy-side-nav-search
{

     background-color: #005387 !important;

}
